@import 'colors';
@import 'common/button';

body {
	background: $bodyBg;
	color: $lightText;
	font-family: "Work Sans", sans-serif;
	font-weight: 600;
  text-align: center;
  padding: 20px;
}

text {
  fill: $lightText;
}

#stack-chart {
  display: block;
  margin: auto;
}